html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.landing {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use viewport height to cover the entire screen */
    background-image: url('./assets/images/scaryoke-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}

.seperator {
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.2);
}
